.pagination {
  list-style: none;
  display: flex;
}

.pagination__item {
  background-color: var(--white);
  color: var(--black);
  height: 64px;
  width: 64px;
  border: 2px solid var(--black);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__item.--active {
  background-color: var(--black);
  color: var(--white);
}

.pagination__leftArrow {}

.pagination__leftArrow {}

.pagination__pageNumber--dots {}

.pagination__pageNumber {}

.pagination__rightArrow {}