.checkbox {
  display: inline-block;
  flex-shrink: 0; // width won't shrink
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px var(--grey) solid;
  padding: 3px;

  &--active {
    border-color: var(--black);
    background: var(--black);
  }

  &__input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}