input{
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 16px;
width: 375px;
height: 60px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
padding: 15px;

}

div{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
letter-spacing: 0.08em;
text-transform: uppercase;
color: rgba(0, 0, 0, 0.6);
display: flex;
flex-direction: column;
text-align: left;
padding:5px;
margin:1px;


}

label{
    padding: 10px;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    
}

