.socials {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  width: 25%;
}

.social-icon {
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

.facebook-icon {
  background: center / contain no-repeat url(../../assets/icons/001-facebook.svg);
}

.twitter-icon {
  background: center / contain no-repeat url(../../assets/icons/003-twitter.svg);
}

.instagram-icon {
  background: center / contain no-repeat url(../../assets/icons/004-instagram.svg);
}