//Mobile

.TastyRecipes_container {
    margin: 0 auto;
    margin-bottom: 20px;
}

.TastyRecipes_list{
    list-style:none;
    text-align: start;
    max-width: 222px;
    margin: 0 auto;
}

.TastyRecipes_list-item{
    margin-top: 15px;
}

.TastyRecipes_image{
    border-radius:20px;
    display: block;
    margin:auto;

}

.TastyRecipes_title{
    font-size: var(--text-large);
    letter-spacing: -0.016cm;
    padding: 10px 0;   
}

.TastyRecipes_autor{
    color: var(--grey-2);
    font-size: var(--text-small);
    font-weight: var(--font-medium);;
    padding: 25px 0;
}


.TastyRecipes_title_autor_container{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.TastyRecipes_title_section{
    font-size: var(--text-2xlarge);
    margin-bottom: 40px;
}

//Desktop
@media(min-width:600px){
    .TastyRecipes_list{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

   .TastyRecipes_image{
    display:flex;
    margin-right: 24px;
    }

    .TastyRecipes_list-item{
    display: flex;
    align-items: right;
    margin: 20px 0;
    }

    .TastyRecipes_autor{
    display:flex;
    padding:8px;
    padding-left: 0;
    
    }

    .TastyRecipes_title_section{
        display: flex;
        justify-content: center;
    }

    .TastyRecipes_container{
        max-width:490px;
        
    }
    .TastyRecipes_title{
        padding-bottom: 5px;
        padding-top: 0;
          
    }

    .TastyRecipes_title_autor_container{
        padding: 0;
        align-content: left;
        justify-content: center;
    }

}

@media(min-width: 1400px){
    .TastyRecipes_title_section {
        justify-content: start;
        margin-bottom: 10px;
    }

    .TastyRecipes_container {
        margin-bottom: 60px;
    }
}