.instagramSection {
  list-style: none;
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
  display: grid;
  place-items: center;

  &__carouselContainer {
    max-width: 1280px;
  }

  &__title {}

  &__titleLink {}

  &__paragraph {}

  &__button {
    background: var(--black);
    border-radius: 16px;
    border: none;
    outline: none;
    color: var(--white);
    font-family: var(--main-font-family);
    padding: 20px;
    width: 100%;
    max-width: 230px;
    cursor: pointer;
    margin-bottom: 80px;
  }

  &__button:hover {
    opacity: .8;
  }

}