.recipe-card__container {
  list-style-type: none;
  max-width: 290px;
}

.recipe-card__link {
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  display: flex;
}

.recipe-card__link:link {
  color: var(--black);
}

.recipe-card__link:visited {
  color: var(--black)
}

.recipe-card {
  position: relative;
  text-align: left;
  width: 100%;
}

.recipe-card__img {
  border-radius: 20px;
  width: 100%;
  margin-bottom: 14px;
}

.recipe-card__title {
  font-weight: var(--font-semibold);
  margin-bottom: 20px;

  &--small {
    font-size: clamp(var(--text-small), 4vw, var(--text-medium));
  }

  &--large {
    font-size: clamp(var(--text-large), 4.2vw, var(--text-xlarge));
  }
}

.recipe-card__tags {
  display: flex;
  font-size: var(--text-small);
  font-weight: var(--font-medium);
  color: var(--grey-2);
  text-align: left;
}

.recipe-card__tag1 {
  margin-right: 16px;
}

.recipe-card__tag1, .recipe-card__tag2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.recipe-card__tag1__icon,
.recipe-card__tag2__icon {
  margin-right: 8px;
}
