.recipeCategoryCard {
  display: grid;
  place-items: center;
  list-style-type: none;
  width: 100%;
  max-width: 180px;
  height: 200px;
  border: none;
  border-radius: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 20px 10px -12px rgba(0, 0, 0, 0.1);
  transition: .2s;

  &__container {
    list-style-type: none;
    flex: none;
  }

  &:hover {
    transform: translateY(-16px);
  }
  
  &--green {
    background: linear-gradient(180deg, rgba(108, 198, 63, 0) 0%, rgba(108, 198, 63, 0.1) 100%);
  }

  &--grey {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
  }

  &--red {
    background: linear-gradient(180deg, rgba(204, 38, 27, 0) 0%, rgba(204, 38, 27, 0.1) 100%);
  }

  &--yellow {
    background: linear-gradient(180deg, rgba(240, 158, 0, 0) 0%, rgba(240, 158, 0, 0.1) 100%);
  }

  &__img {
    width: 100%;
    max-width: 140px;
    margin-left: 40px;
  }

  &__title {
    font-size: clamp(var(--text-base), 3vw, var(--text-medium));
    font-weight: var(--font-semibold);
  }
}

