.learnMore {
  font-family: var(--main-font-family);
  display: grid;
  margin-bottom: 50px;
}

.learnMore__content {
  display: grid;
  justify-items: center;
  grid-template-columns: 100%;
  gap: 30px;
}

.learnMore__title {
  letter-spacing: -0.8px;
  font-weight: var(--font-medium);
  font-size: var(--text-xlarge);
}

.learnMore__paragraph {
  font-weight: var(--font-light);
  font-size: var(--text-small);
  color: var(--grey-2);
  text-align: justify;
  text-justify: distribute;
  letter-spacing: -0.8px;
  line-height: 24px;
}

.learnMore__button {
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: var(--black);
  color: var(--white);
  font-size: var(--text-small);
  font-weight: var(--font-medium);
  font-family: var(--main-font-family);
  padding: 20px;
  width: 100%;
  max-width: 260px;
  max-height: 60px;
}

.learnMore__image {
  background: url(/public/imgs/chef-holding-dish.png) center center no-repeat;
  background-size: contain;
  display: none;
}

@media (min-width: 420px) and (max-width:768px) {
  .learnMore__title {
    font-weight: var(--font-semibold);
    font-size: var(--text-2xlarge);
  }

  .learnMore__paragraph {
    font-size: var(--text-base);
    max-width: 600px;
  }
}

@media (min-width:768px) and (max-width:1024px) {
  .learnMore {
    grid-template-columns: 60% 40%;
    grid-template-rows: 300px;
    gap: 20px;
    padding: 20px;
  }

  .learnMore__content {
    justify-items: left;
  }

  .learnMore__title {
    text-align: justify;
    font-weight: var(--font-semibold);
    font-size: var(--text-2xlarge);
    max-width: 500px;
  }

  .learnMore__paragraph {
    font-size: var(--text-base);
    max-width: 500px;
  }

  .learnMore__image {

    display: inline;
  }
}

@media (min-width:1024px) and (max-width:1300px) {
  .learnMore {
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px;
    gap: 20px;
    padding: 40px;
  }

  .learnMore__content {
    justify-items: left;
    align-items: center;
  }

  .learnMore__title {
    text-align: justify;
    font-weight: var(--font-semibold);
    font-size: var(--text-3xlarge);
    margin-top: 100px;
    max-width: 600px;
  }

  .learnMore__paragraph {
    font-size: var(--text-base);
    line-height: 30px;
    max-width: 600px;
  }

  .learnMore__button {
    margin-bottom: 100px;
  }

  .learnMore__image {
    display: inline;
  }

}

@media (min-width:1300px) {
  .learnMore {
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px;
    gap: 20px;
    padding: 40px;
  }

  .learnMore__content {
    justify-items: left;
    align-items: center;
  }

  .learnMore__title {
    text-align: justify;
    font-weight: var(--font-semibold);
    font-size: var(--text-4xlarge);
    margin-top: 100px;
    max-width: 600px;
  }

  .learnMore__paragraph {
    font-size: var(--text-base);
    line-height: 30px;
    max-width: 600px;
  }

  .learnMore__button {
    margin-bottom: 100px;
  }

  .learnMore__image {
    display: inline;
  }

}