.recipes__container {
  margin: 100px 0 80px 0;
}

.recipes__title {
  display: none;
}

.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.recipes {
  display: flex;
  gap: 2.5rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  /* hide scrollbar but keep its behavior */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.recipe-card__container {
  list-style-type: none;
  flex: none;
  max-width: 290px;
  scroll-snap-align: center;
}

.recipe-card__container:nth-child(1)  {
  margin-left: 3rem;
}

.recipes::-webkit-scrollbar { 
  display: none;
}

.carousel__arrow {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 25%;
  cursor: pointer;
  z-index: 1;
}

.carousel__left-arrow {
  left: 6px;
  transform: rotate(180deg);
}

.carousel__right-arrow {
  right: 6px;
}

@media (min-width: 1024px) {
  .recipes__title {
    display: block;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 80px;
    font-size: var(--text-2xlarge);
    font-weight: var(--font-semibold);
  }
}

@media (min-width: 1422px) { /* 1422 * 90% (contact page width) = 1280 (carousel width) */
  .recipes {
    justify-content: center;
  }
  .carousel__arrow {
    display: none;
  }

  .recipe-card__container:nth-child(1)  {
    margin-left: 0;
  }
}