.recipeDirections {
  text-align: left;
  margin-bottom: 60px;

  &__title {
    font-size: clamp(var(--text-xlarge), 4vw, var(--text-3xlarge));
    font-weight: var(--font-semibold);
  }
}

@media (min-width: 1040px) {
  .recipeDirections {
    margin-bottom: 160px;
  }
}