.mobileMenu__container {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
  width: 34%;
}

.button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  width: 55px;
  height: 55px;
  border: none;
  outline: none;

}

.mobileMenu__button {
  background-image: url(/icons/close.png);
}

.mobileMenu__button--open {
  background-image: url(/icons/menu.png);
}

.navigationMenuMobile--closed {
  display: none;
}

.navigationMenuMobile--open {
  background-color: var(--white);
  position: fixed;
  top: 140px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.navigationList {
  list-style: none;
  padding-top: 10px;
}

.navigationList-item {
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}

.navigationLink {
  margin: 0;
  display: inline-block;
  text-decoration: none;
  color: var(--black);
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 20px 20px;
  font-family: var(-Main-font-family);
  font-size: var(--textMedium);
  font-weight: var(--fontMedium);
}

@media (min-width: 1024px) {
  .mobileMenu__container {
    display: none;
  }
}