button{

    &defaultButton{
    background: var(--black);
    border-radius: 16px;
    border: none;
    outline: none;
    color: var(--white);
    padding: 20px;
    width: 100%;

    }


    &__width{

        &--small{
            color: var(--black);
            background-color: var(--white);
            font-weight: var(--font-bold);
            border: 1px solid var(--grey-light);
            height: 64px;
            max-width: 64px;
            border-radius: 16px;
            cursor: pointer;

        }

        &--medium{
            

        }

        &--large{

        }

    }

}
    
