//Mobile

.TastyRecipes_list{
    list-style:none;
   
    
}

.TastyRecipes_image{
    border-radius:20px;
    display: block;
    margin:auto;

}

.TastyRecipes_title{
    padding: 10px;
    
    
    
}

.TastyRecipes_autor{
    padding:25px;
}

.TastyRecipes_list-item{
    
    
    
}

.TastyRecipes_title_autor_container{
    padding: 10px;
    
    
   
}

.TastyRecipes_title_section{
    margin:25px;

}

//Desktop
