.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  width: 50%;
}

.nav-link {
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}