.carousel {
  position: relative;
  width: 100%;
  overflow-x: auto;
  padding: 0 1rem;
  
  &__items {
    display: flex;
    width: 100%;
    padding: 2rem 0;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    & > * {
      flex: none;
      scroll-snap-align: center;
    }

    & > *:not(:last-child) {
      margin-right: 2.5rem;
    }
  }

  &__arrow, &__arrow--alwaysDisplay {
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 1;
  }

  &__arrow {

    /* arrow background color */
    &__background--transparent {
      background-color: transparent;
    }

    &__background--white {
      background-color: var(--white);
    }

    &__background--lightBlue {
      background-color: var(--blue-2);
    }

    /* arrow background size */
    &__background--small {
      padding: 4px;
    }

    &__background--medium {
      padding: 10px 10px;
    }

    &__background--large {
      padding: 10px 20px;
    }

    &__icon {
      width: 100%;
    }

    &--left {
      left: 0;
      transform: translate(0, -50%) rotate(180deg);
    }

    &--right {
      right: 0;
      transform: translate(0, -50%);
    }
  }
}


@media (min-width: 1422px) { /* 1422 * 90% (page width) = 1280 (carousel width) */
  .carousel {
    padding: 0;
  
    &__arrow {
      display: none;
    }
  }
}