.footer-container{
    display: flex;
    width: 100%;
    
}

.icone {
    display: flex;
    text-align: left;
}
.footer{
    width: 100%;

}
.face-icon{
   height:25px;
   
   
}
.twitter-icon{
    height: 22px;
    
    
    
}
.insta-icon{
    height:26px;
    
}
.icons{
    display:flex;
    gap:20px;
    align-items: center;
    justify-content: center;
    margin-bottom:5px;
    
}


.texto{
text-align:left;
padding:25px;
}

.footer-text{
text-align: left;
padding: 25px 0;
}
.footer-text{
padding:25px 0;
font-family: 'Inter';
font-weight: 400;
font-size: 16px;
line-height: 28px;
color:#00000099;
}
a{
    margin:20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
}
hr{
    margin:0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
}
.copy{
padding:30px;
text-align: center;
font-family: 'Eudoxus Sans';
font-style: normal;
font-weight: 400;
font-size: var(--text-small);
line-height: 23px;
letter-spacing: -0.02em;
color: rgba(0, 0, 0, 0.6);
}

.webflow{
    color:#FF7967;
}

@media (min-width:900px) {
    .icons{
        display: inline-block;
        box-sizing: border-box;
        float:right;
        margin:20px;
        
       
    }
    
    .link-footer{
        display:inline;





    }

    .teste2{
        display: inline-block;
        box-sizing: border-box;
        padding:20px;
        
        
    


    }

    .teste1{
        display:inline-block;
        box-sizing: border-box;
    

    }

    .icon-text{
        display: flex;
        justify-content: space-between;
    }
    .copyr{
        display: inline-block;
        box-sizing: border-box;
        
    }

    
   
}