.footer__container{
    display: flex;
    
    
}

.footer__logo {
    display: flex;
    text-align: left;
}

.footer{
    width: 100%;

}

.footer__socials{
    display:flex;
    gap:20px;
    align-items: center;
    justify-content: center;
    margin-bottom:5px;
    
}

.footer__text{
text-align: left;
padding: 0;
margin: 40px 0;
font-family: 'Inter';
font-weight: 400;
font-size: 16px;
line-height: 28px;
color:#00000099;
}
.footer__link{
    margin:20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    display: inline-block;
    
}
.footer__horizontalRule{
    margin:0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
}
.footer__copyright{
padding:30px;
text-align: center;
font-family: 'Eudoxus Sans';
font-style: normal;
font-weight: 400;
font-size: var(--text-small);
line-height: 23px;
letter-spacing: -0.02em;
color: rgba(0, 0, 0, 0.6);
}

.footer__copyrightWebflow{
    color:#FF7967;
}

@media (min-width:900px) {
    
    .footer__link{
        display:inline;

    }

    .footer__links{
        display: inline-block;
        box-sizing: border-box;
        padding:20px;
        
    }

    .footer__headerInfo{
        display:inline-block;
        box-sizing: border-box;
    
    }

    .footer__header{
        display: flex;
        justify-content: space-between;
    }
    
    .footer__socials{
        display: flex;
        justify-content: flex-end;

    }

    
   
}


    