.toast {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: var(--white);
  border-radius: 8px;
  max-width: 88%;
  padding: 26px 20px;
  padding-right: 40px;
  animation: toast-from-left .7s;

  &__content {
    display: flex;
    align-items: center;
    text-align: start;
  }

  &__icon {
    margin-right: 20px;
  }

  &__text {
    font-size: var(--text-medium);
  }

  &__closeButton {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 14px;
    height: 12px;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      opacity: .7;
    }

    &Img {
      width: 100%;
    }
  }
}

@media (min-width: 1024px) {
  .toast {
    max-width: 50%;
    left: 40px;
  }
}

@keyframes toast-from-left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translate(0);
  }
}