.advertisingCard {
  display: inline-block;
  margin-bottom: 50px;

  &--noMargin {
    margin-bottom: 0;
  }

  &__link {
    display: inline-block;
    margin: 0;
  }

  &__img {
    width: 100%;
    max-width: 400px;
  }
}

@media (min-width: 1400px) {
  .advertisingCard {
    text-align: start;
  }
}
