.recipeCategories {
  display: flex;
  width: 100%;
  padding: 2rem 0;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  & > * {
    flex: none;
    scroll-snap-align: center;
  }

  & > *:not(:last-child) {
    margin-right: 2.5rem;
  }

  &__carousel {
    position: relative;
    width: 100%;
    padding: 0 1rem;
    overflow-x: auto;

    &Arrow {
      background-color: var(--blue-2);
      padding: 4px;
      border: none;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      cursor: pointer;
      z-index: 1;

      &__icon {
        width: 40px;
        height: 40px;
      }

      &--left {
        left: 0px;
        transform: translate(0, -50%) rotate(180deg);
      }

      &--right {
        right: 0px;
        transform: translate(0, -50%);
      }
    }
  }

  &__container {
    display: grid;
    place-items: center;
    gap: 80px;
    margin-bottom: 70px;
    position: relative;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__title {
    font-size: clamp(var(--text-2xlarge), 5vw, var(--text-4xlarge));
    font-weight: var(--font-semibold);
  }

  &__filterButton, &__filterButton--mobile {
    background-color: var(--blue-2);
    border: none;
    border-radius: 1rem;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }

  &__filterButton {
    display: none;
    font-size: clamp(var(--text-small), 3vw, var(--text-base));
    font-weight: var(--font-semibold);
    font-family: Inter;
    letter-spacing: -0.02em;
    max-width: 200px;
    padding: 20px 27px;
  }

  &__filterButton--mobile {
    padding: 10px;
    padding-bottom: 8px;
  }
}

@media (min-width: 420px) {
  .recipeCategories {
    &__filterButton {
      display: flex;
    }

    &__filterButton--mobile {
      display: none;
    }
  }
}

@media (min-width: 800px) {
  .recipeCategories {
    &__container {
      margin-bottom: 150px;
    }
  }
}

@media (min-width: 1422px) { /* 1422 * 90% (page width) = 1280 (carousel width) */
  .recipeCategories__carousel {
    padding: 0;

    &Arrow {
    display: none;
    }
  }
}