:root {
  /* font family */
  --main-font-family: 'Inter', sans-serif;

  /* font size */
  --text-xsmall: .75rem; // 12px
  --text-small: .875rem; // 14px
  --text-base: 1rem; // 16px
  --text-medium: 1.125rem; // 18px
  --text-large: 1.25rem; // 20px
  --text-xlarge: 1.5rem; // 24px
  --text-2xlarge: 1.875rem; // 30px
  --text-3xlarge: 2.25rem; // 36px
  --text-4xlarge: 3rem; // 48px
  --text-5xlarge: 3.75rem; // 60px

  /* font weight */
  --font-thin: 100;
  --font-xlight: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-xbold: 800;
  --font-black: 900;

  /* colors */
  --black: #000;
  --blue-1: #E7F9FD;
  --blue-2: #E7FAFE;
  --grey-light: rgba(0, 0, 0, 0.1);
  --grey-1: rgba(0, 0, 0, 0.4);
  --grey-2: rgba(0, 0, 0, 0.6);
  --white: #FFF;

  /* logo */
  --logo-width: 110px;
  --logo-height: 30px;
}