.mobileMenu__button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  width: 55px;
  height: 55px;
  border: none;
}

.mobileMenu__button--open {
  background-image: url(/icons/close.png);
}

.mobileMenu__button--close {
  background-image: url(/icons/menu.png);
}

.mobileMenu--open {
  background-color: var(--white);
  position: fixed;
  top: 140px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.mobileMenu--closed {
  display: none;
}

.navigationMenu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  font-size: var(--text-base);
  font-weight: var(--font-medium);
  height: 100%;
  list-style: none;

  &__item {
    padding: 20px 0 0 20px;
    cursor: pointer;
  }

  &__link {
    color: var(--black);
    text-decoration: none;
    text-align: left;

    &--active {
      font-weight: 600;
      border-bottom: 2px solid var(--orange);
    }

    &:visited, &:link {
      color: var(--black);
    }
  }
}

@media (min-width: 1024px) {
  .mobileMenu__button {
    display: none;
  }

  .navigationMenu__container {
    display: flex;
  }

  .navigationMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    &__item {
      padding: 0;

      &:not(:last-child) {
        margin-right: 25px;
      }
    }
  } 
}